@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #3b3891;
}

.site-name {
  font-size: 1.5rem;
  font-family: "Lora", serif;
}
