@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.page {
  background-color: #121212;
  border-radius: 1rem;
  height: 40rem;
}

.navbar {
  background-color: #fff;
}

.my-navbar a {
  color: black;
  font-weight: 500;
}

.tagline-1 {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  color: #fff;
  padding-left: 4rem;
  width: 45%;
  background-image: linear-gradient(to left, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: calc();
}

.subtitle {
  width: 530px;
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 4rem;
  color: #eeeeee;
}

/* .tagline-2 span {
  background: #40c4ff; 
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.3rem;
  font-family: "Inter", sans-serif;
  color: linear-gradient(150deg, #9c09db, #1c0fd7) !important;
} */

.logo {
  font-size: 35px;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background-color: #039be5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.site-name {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 600;
}

.welcome-section {
  position: relative;
}

.welcome-section::after {
  content: "";
  display: block;
  height: 28rem;
  width: 28rem;
  background: url(../svgs/Group.svg) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 0;
}

.title-block {
  margin-top: 180px;
}

/******************** Our Spaciality Section Starts **********************/

/* spaciality-section-title */

.spaciality-section {
  margin-top: 10rem;
  color: #121212;
}

.spaciality-section-title {
  font-size: 2.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 8rem;
}

.spaciality-icon {
  border-radius: 1.5rem;
  width: 6rem;
  height: 6rem;
  color: #fff;
  background: #540cfa;
  text-align: center;
  line-height: 6rem;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.spaciality-1 {
  background: #d32f2f !important;
  box-shadow: 0 8px 6px rgba(36, 8, 128, 0.2);
}

.spaciality-2 {
  background: #00796b !important;
  box-shadow: 0 8px 6px rgba(36, 8, 128, 0.2);
}
.spaciality-3 {
  background: #303f9f !important;
  box-shadow: 0 8px 6px rgba(36, 8, 128, 0.2);
}

.spaciality-4 {
  background: #c2185b !important;
  box-shadow: 0 8px 6px rgba(36, 8, 128, 0.2);
}

.spaciality-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #212121;
}

/******************** Our Spaciality Section Ends **********************/

/******************** What We Offer Section Starts **********************/

/*************** Card One Starts **************/

.what-we-offer-section-title {
  font-size: 2.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.what-we-offer-container-1 {
  height: 100%;
  background: #b2ebf2;
  border-radius: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4.7rem;
}

.profile-card-4 h5 {
  font-size: 18px;
  font-weight: 800;
}

.what-we-offer-card-1 {
  height: 28rem;
  margin-bottom: 10rem;
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.what-we-offer-card-1 i {
  color: #4caf50;
  margin-right: 0.3rem;
}

.card-content-1 {
  font-size: 1.1rem;
  color: #000000;
}

.card-title-1 {
  color: #000000;
  margin-bottom: 2.5rem;
}

/*************** Card One Ends **************/

/*************** Card Two Starts **************/

.what-we-offer-section-title {
  font-size: 2.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.what-we-offer-container-2 {
  height: 100%;
  background: #f0f4c3;
  border-radius: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4.7rem;
}

.profile-card-4 h5 {
  font-size: 18px;
  font-weight: 800;
}

.what-we-offer-card-2 {
  height: 28rem;
  margin-bottom: 10rem;
  margin-left: 0.5rem;
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.what-we-offer-card-2 i {
  color: #4caf50;
  margin-right: 0.3rem;
}

.card-content-2 {
  font-size: 1.1rem;
  color: #000000;
}

.card-title-2 {
  color: #000000;
  margin-bottom: 2.5rem;
}

/*************** Card Two Ends **************/

/*************** Card Three Starts **************/

.what-we-offer-section-title {
  font-size: 2.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.what-we-offer-container-3 {
  height: 100%;
  background: #ffe0b2;
  border-radius: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4.7rem;
}

.profile-card-4 h5 {
  font-size: 18px;
  font-weight: 800;
}

.what-we-offer-card-3 {
  height: 28rem;
  margin-bottom: 10rem;
  background-color: #fff;
  border-radius: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.what-we-offer-card-3 i {
  color: #4caf50;
  margin-right: 0.3rem;
}

.card-content-3 {
  font-size: 1.1rem;
  color: #000000;
}

.card-title-3 {
  color: #000000;
  margin-bottom: 2.5rem;
}

.what-we-offer-card-1:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(178, 235, 242, 0.7),
    0 4px 8px rgba(178, 235, 242, 1);
}

.what-we-offer-card-2:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(240, 244, 195, 0.7),
    0 4px 8px rgba(240, 244, 195, 1);
}

.what-we-offer-card-3:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 224, 178, 0.7),
    0 4px 8px rgba(255, 224, 178, 1);
}

/*************** Card Three Ends **************/

/******************** What We Offer Section Ends **********************/

/******************** Who We Are Section Starts **********************/

.who-we-are-title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 4.5rem;
  background-image: linear-gradient(to right, #fdc830, #f37335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: calc();
}

.who-we-are-section {
  margin-bottom: 10rem;
  background: #000;
  border-radius: 1rem;
}

.who-we-are-text {
  font-size: 1.3rem;
}

.who-we-are-container {
  height: 40rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

/******************** Who We Are Section Ends **********************/

/******************** Our Customer Section Starts **********************/

.customer-section {
  margin-bottom: 10rem;
}

.customer-section-title {
  margin-bottom: 7rem;
}

.logo-1 {
  width: 5rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: cubic-bezier();
}

.logo-1:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix3d();
}

.logo-2 {
  width: 5rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: calc();
}

.logo-2:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix();
}

.logo-3 {
  width: 5rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: calc();
}

.logo-3:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix();
}

.logo-4 {
  width: 5rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: calc();
}

.logo-4:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix();
}

.logo-5 {
  width: 5rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: calc();
}

.logo-5:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix();
}

.logo-6 {
  width: 5rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: calc();
}

.logo-6:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix();
}

.logo-7 {
  width: 5rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: calc();
}

.logo-7:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix();
}

.logo-8 {
  width: 5rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: calc();
}

.logo-8:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix();
}

.logo-9 {
  width: 7rem;
  height: 5rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: calc();
}

.logo-9:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
  transform: matrix();
}

/******************** Our Customer Section Ends **********************/
